Repository piotrlaczkowski/GoLangGraph: changes, and which pre-commit hooks are due for each by the changed paths.
All: go-no-replacement, go-mod-outdated, go-generate, go-cyclo, go-ineffassign, go-misspell

Path conditions:
  go-no-replacement: any of: go\.mod$
  go-mod-outdated: any of: go\.mod$
  go-generate: any of: \.go$
  go-cyclo: any of: \.go$
  go-ineffassign: any of: \.go$
  go-misspell: any of: \.go$

chore: update linter configurations in .golangci.yml, enhance secrets baseline, and modify requirements for mkdocs plugins
  .golangci.yml
  .secrets.baseline
  requirements.txt
Due: none

chore: add .gitignore for site directory, update secrets baseline timestamp, and refine mkdocs configuration by removing unused entries and adding new documentation links
  .cache/plugin/git-committers/page-authors.json
  .gitignore
  .secrets.baseline
  mkdocs.yml
Due: none

chore: update pre-commit configuration, enhance CI workflows with Go version upgrade, and refine documentation build settings
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  mkdocs.yml
  requirements.txt
Due: none

🔧 Fix .gitattributes to exclude logo.png from LFS
  .gitattributes
Due: none

🔧 Update Go version and improve pre-commit configuration
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  .secrets.baseline
  Dockerfile
  Dockerfile.agent
  go.mod
Due: go-no-replacement, go-mod-outdated

Add go.work.sum file and update TEST_AND_WORKFLOW_STATUS.md
  TEST_AND_WORKFLOW_STATUS.md
  go.work.sum
Due: none

refactor: fixing pre-commits
  .pre-commit-config.yaml
  .secrets.baseline
  TEST_AND_WORKFLOW_STATUS.md
Due: none

Implement multi-agent deployment with routing, config, and management features
  MULTI_AGENT_IMPLEMENTATION_SUMMARY.md
  cmd/golanggraph/multi_agent_commands.go
  docs/MULTI_AGENT_DEPLOYMENT.md
  examples/multi-agent-basic.yaml
  pkg/agent/multi_agent_config.go
  pkg/agent/multi_agent_manager.go
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

Add multi-agent Go-based agent definitions and registry support
  cmd/golanggraph/multi_agent_commands.go
  docs/GO_AGENT_DEFINITIONS.md
  examples/agents/chat_agent.go
  pkg/agent/agent_definition.go
  pkg/agent/multi_agent_manager.go
  pkg/agent/multi_agent_test.go
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

Checkpoint before follow-up message
  cmd/golanggraph/main.go
  cmd/golanggraph/multi_agent_commands.go
  go.mod
  pkg/agent/multi_agent_manager.go
  pkg/agent/multi_agent_test.go
  pkg/tools/tools.go
  test/cli_test.go
Due: go-no-replacement, go-mod-outdated, go-generate, go-cyclo, go-ineffassign, go-misspell

Checkpoint before follow-up message
  pkg/agent/multi_agent_manager.go
  pkg/agent/multi_agent_test.go
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

Fix GitHub workflow failures
  pkg/agent/multi_agent_manager.go
  pkg/agent/multi_agent_test.go
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

Fix multi-agent routing, mutex, and CI workflow issues across codebase
  CI_FIXES_SUMMARY.md
Due: none

Fix pre-commit and gosec workflow issues
  .golangci.yml
  .gosec.json
  .pre-commit-config.yaml
  .secrets.baseline
  scripts/run-gosec.sh
Due: none

Fix pre-commit and gosec workflows with configuration updates and exclusions
  PRECOMMIT_GOSEC_FIXES.md
Due: none

Checkpoint before follow-up message
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .golangci.yml
  cmd/golanggraph/multi_agent_commands.go
  pkg/agent/multi_agent_manager.go
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

Fix CI/CD workflows, update security scans, and improve pre-commit hooks
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  CI_WORKFLOW_FIXES.md
Due: none

Fix newline and whitespace issues in pre-commit workflow
  .gosec.json
  CI_FIXES_SUMMARY.md
  CI_WORKFLOW_FIXES.md
  MULTI_AGENT_IMPLEMENTATION_SUMMARY.md
  NEWLINE_FIXES_SUMMARY.md
  PRECOMMIT_GOSEC_FIXES.md
  cmd/golanggraph/multi_agent_commands.go
  docs/GO_AGENT_DEFINITIONS.md
  docs/MULTI_AGENT_DEPLOYMENT.md
  examples/multi-agent-basic.yaml
  scripts/run-gosec.sh
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

Fix pre-commit workflow issues
  .pre-commit-config.yaml
  CI_FIXES_SUMMARY.md
  CI_WORKFLOW_FIXES.md
  NEWLINE_FIXES_SUMMARY.md
  PRECOMMIT_GOSEC_FIXES.md
  README.md
  docs/DEVELOPMENT.md
  docs/MULTI_AGENT_IMPLEMENTATION_SUMMARY.md
  examples/agents/chat_agent.go
Due: go-generate, go-cyclo, go-ineffassign, go-misspell

docs: updating state of the documentation
  .secrets.baseline
  README.md
  docs/CORE_PACKAGE.md
  docs/DEVELOPMENT.md
  docs/GO_AGENT_DEFINITIONS.md
  docs/MULTI_AGENT_DEPLOYMENT.md
  docs/MULTI_AGENT_IMPLEMENTATION_SUMMARY.md
  docs/PERSISTENCE_GUIDE.md
  docs/examples/ollama-integration.md
  docs/getting-started/quick-start.md
  docs/index.md
  go.work.sum
Due: none

ops: adding LICENCE file
  .gitignore
  LICENSE
Due: none

Update README.md
  README.md
Due: none
